<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3J_Jj6febAauhNpwkQ3i33iB6Pv4UU2A</string>
	<key>GCM_SENDER_ID</key>
	<string>630129948671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homecare.app</string>
	<key>PROJECT_ID</key>
	<string>homecare-1582c</string>
	<key>STORAGE_BUCKET</key>
	<string>homecare-1582c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630129948671:ios:a825f47add0df78cb1d9ca</string>
</dict>
</plist>
