# Git
.git
.gitignore

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mobile
mobile/
frontend/
scripts/

# Docs
*.md
LICENSE

# OS
.DS_Store
Thumbs.db
